///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_function/function";
@import "../_extend/extend";


///
/// VARIABLE BLOCK
///
$width-all        : return-value(dimension, all);
$width-point      : return-value(dimension, point);

$color-white      : return-value(color, white);
$color-lightblue  : return-value(color, lightBlue);
$color-blueBorder : return-value(color, blueBorder);


///
/// ABOUT SECTION
///
section.about{
  width: $width-all;
  min-height: render-pixel(554);
  background-color: $color-lightblue;

  @include mixinBorder(bottom, 5px, $color-blueBorder);

  .about-container{
    @include  mixinMaxWidthPosition(12.5, 80, 0);


    h1{
      color: $color-white;
      @extend %paragraphH1;
    }

    >div[class^='about-block-']{
      display: inline-table;
      text-align: center;
      width: $width-all - 68;
      color: $color-white;
      padding: render-pixel(90) render-pixel(15) 0;


      >h2{
        @extend %paragraphH2;
      }

      >p{
        @extend %paragraph;
      }
    }// /-div[class^='about-block-']
  }// /-about-container
}// /-section.about


///
/// ABOUT MEDIA QUERIES SECTION
///
@include mixinRepeatBlockMedia(about);