///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_function/function";


///
/// VARIABLE BLOCK
///
$width-all        : return-value(dimension, all);
$width-point      : return-value(dimension, point);

$color-white      : return-value(color, white);
$color-lightblue  : return-value(color, lightBlue);
$color-blueBorder : return-value(color, blueBorder);


///
/// ABOUT SECTION
///
section.about{
  width: $width-all;
  min-height: render-pixel(554);
  background-color: $color-lightblue;

  @include mixinBorder(bottom, 5px, $color-blueBorder);

  .about-container{
    @include  mixinMaxwidthPosition(12, 80, 0);


    h1{
      margin: 0;
      color: $color-white;
      text-transform: uppercase;
      font-size: render-pixel(30);
      text-align: center;
      font-weight: normal;
    }

    >div[class^='about-block-']{
      display: inline-table;
      text-align: center;
      width: $width-all - 67;
      color: $color-white;
      padding: render-pixel(90) render-pixel(15) 0;


      >h2{
        min-height: render-pixel(45);
        font-size: render-pixel(26);
        font-weight: normal;
      }

      >p{
        line-height: 1.5;
        font-size: render-pixel(17);
        min-height: render-pixel(50);
      }
    }// /-div[class^='about-block-']
  }// /-about-container
}// /-section.about


///
/// ABOUT MEDIA QUERIES SECTION
///
@media screen and (min-width: 768px) and (max-width: 991px) {
  div[class^='about-block-']>img{
    width: 65%;
  }

  section.about .about-container>div[class^='about-block-']>h2{
    font-size: render-pixel(22);
  }

  section.about .about-container>div[class^=about-block-]>p{
    font-size: render-pixel(15);
  }
}

@media screen and (max-width: 767px) {
  section.about .about-container>div[class^=about-block-]{
    display: block;
    width: $width-all;
  }
}