///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_function/function";
@import "../_extend/extend";


///
/// VARIABLE BLOCK
///
$width-all        : return-value(dimension, all);
$width-point      : return-value(dimension, point);

$color-white      : return-value(color, white);
$color-black      : return-value(color, black);
$color-elecBg     : return-value(color, elecBg);
$color-elecBorder : return-value(color, elecBorder);
$color-elecPlus   : return-value(color, elecPlus);

$fontSansReg      : 'PT Sans';

$imagePC          : '../image/electron-sys.png';
$imagePlus        : '../image/iconplus.png';
$imageMinus       : '../image/iconminus.png';

///
/// ELECTRONIC SYSTEM SECTION
///
section.electronicSystem{
  min-height: render-pixel(750);
  background-color: $color-elecBg;
  @include mixinBorder(bottom, 5px, $color-elecBorder);


  .electronicSystem-container{
    position: relative;
    //z-index: 100;
    @include  mixinMaxWidthPosition(12.5, 80, 0);

    h1{
      color: $color-black;
      @extend %paragraphH1;
    }// /-h1

    >p{
      text-align: center;
      font-size: render-pixel(20);
      margin: render-pixel(20) 0 render-pixel(20) 0;
      padding: 0 render-pixel(15);
    }// /-p


    [class^='electronicSystem-row'] {
      display: inline-block;
    }

    .electronicSystem-row-image img {
      position: absolute;
      top: render-pixel(280);
      right: 0;
    }

    .electronicSystem-row{
      position: relative;
      z-index: 100;
      width: $width-all - 50;
      height: $width-all;
      padding: render-pixel(50) 0;


      .accordion{
        overflow:hidden;

        .accordion-section-title.active{
          &:before{
            transition: .3s;
            background: $color-elecPlus url($imageMinus) no-repeat center;
          }// /-before
        }

        .accordion-section-title {
          display:inline-block;
          width: $width-all;
          margin: render-pixel(10) 0;
          border-radius: render-pixel(15);
          background: $color-white;
          transition:all linear 0.15s;
          font-size: render-pixel(20);
          color: $color-black;
          text-decoration: none;
          font-family: $fontSansReg;

          &:before{
            content: '';
            display: inline-block;
            width: render-pixel(40);
            height: render-pixel(40);
            background: $color-elecPlus url($imagePlus) no-repeat center;
            margin-right: render-pixel(20);
            vertical-align: middle;
            border-top-left-radius: render-pixel(15);
            border-bottom-left-radius: render-pixel(15);
            transition: .3s;
          }// /-before
        }// /-accordion-section-title

        .accordion-section-content {
          padding: render-pixel(15) render-pixel(15) render-pixel(15) render-pixel(5);
          display:none;
        }
      }// /-accordion
    }// /-.electronicSystem-row
  }// /-electronicSystem-container
}// /-electronicSystem


$imageChecked : '../image/iconcheck.png';

///
/// technologies
///
.technologies{
  .technologies-list{
    padding-left: 0;
    margin: 0;

    >li{
      @include mixinCenteredBLockFlex(row, center, flex-start);
      list-style: none;
      font-size: render-pixel(16);
      padding: render-pixel(10) render-pixel(5);

      i{
        width: 34px;
        height: 34px;
        display: inline-block;
        background: url($imageChecked) no-repeat center;
        background-size: contain;
        margin-right: render-pixel(15);
        vertical-align: middle;
      }
    }
  }// /-technologies-list
}// /-technologies


///
/// character
///

$iconCharacter1 : '../image/main-1.png';
$iconCharacter2 : '../image/main-2.png';
$iconCharacter3 : '../image/main-3.png';
$iconCharacter4 : '../image/main-4.png';
$iconCharacter5 : '../image/main-5.png';
$iconCharacter6 : '../image/main-6.png';
$iconCharacter7 : '../image/main-7.png';

.character{
  >p{
    margin-top: 0;
    padding-left: 0;
  }

  ul.character-list{
    padding-left: 0;


    li{
      list-style: none;
      padding: render-pixel(10) render-pixel(5);
      float: left;
      width: $width-all - 50;
      @include mixinCenteredBLockFlex(row, flex-start, center);

      @each $className, $imageName in (main-0, $iconCharacter1),
              (main-1, $iconCharacter2),
              (main-2, $iconCharacter3),
              (main-3, $iconCharacter4),
              (main-4, $iconCharacter5),
              (main-5, $iconCharacter6),
              (main-6, $iconCharacter7),
      {
        >i.#{$className}{
          display: inline-block;
          @include mixinDimensions(render-pixel(70));
          background: url($imageName) no-repeat center;
          background-size: contain;
          vertical-align: middle;
          margin-right: render-pixel(10);
        }
      }

      >span{
        width: render-pixel(210);
      }
    }
  }
}

///
/// technical
///
.technical{
  text-align: center;

  .technical-list{
    padding-left: 0;
    margin: 0;
    text-align: left;

    >li{
      @include mixinCenteredBLockFlex(row, center, flex-start);
      list-style: none;
      font-size: render-pixel(16);
      padding: render-pixel(10) render-pixel(5);

      i{
        width: 34px;
        height: 34px;
        display: inline-block;
        background: url($imageChecked) no-repeat center;
        background-size: contain;
        margin-right: render-pixel(15);
        vertical-align: middle;
      }
    }
  }// /-technical-list
}// /-technical

///
/// MODULE
///
.module{
  text-align: center;

  ul.module-list{
    padding-left: 0;

    >li{
      list-style: none;
      float: left;
      width: $width-all/3;

      >p{
        margin: render-pixel(15) 0;
      }
    }
  }// /- ul.module-list
}// /-module

///
/// INTEGRATION
///

$imageIntegration1 : '../image/ebs-1.png';
$imageIntegration2 : '../image/ebs-2.png';
$imageIntegration3 : '../image/ebs-3.png';
$imageIntegration4 : '../image/ebs-4.png';
$imageIntegration5 : '../image/ebs-5.png';
$imageIntegration6 : '../image/ebs-6.png';
$imageIntegration7 : '../image/ebs-7.png';
$imageIntegration8 : '../image/ebs-8.png';

.integration{
  ul.integration-list{
    padding-left: 0;

    @each $className, $imageName in (integration-0, $imageIntegration1),
            (integration-1, $imageIntegration2),
            (integration-2, $imageIntegration3),
            (integration-3, $imageIntegration4),
            (integration-4, $imageIntegration5),
            (integration-5, $imageIntegration6),
            (integration-6, $imageIntegration7),
            (integration-7, $imageIntegration8)
    {
      >li.#{$className}{
        position: relative;
        @include mixinDimensions(render-pixel(145));
        list-style: none;
        float: left;
        background: url($imageName) no-repeat center;
        background-size: contain;
        margin: render-pixel(2);
        text-align: center;


        @if($className == integration-1 or $className == integration-3 or $className == integration-5 or $className == integration-7){
          >p {
            position: absolute;
            @include mixinDimensions($width-all, render-pixel($width-point - 50));
            top: 0;
            left: 0;
            background: rgba($color-white, .75);
            border-bottom-left-radius: $width-all;
            border-bottom-right-radius: $width-all;
          }
        }

        @if($className == integration-2 or $className == integration-4 or $className == integration-6){
          >p {
            position: absolute;
            @include mixinDimensions($width-all, $width-point - 50);
            bottom: 0;
            left: 0;
            background: rgba($color-white, .8);
            border-top-left-radius: $width-all;
            border-top-right-radius: $width-all;
          }
        }

        >p{
          @include mixinCenteredBLockFlex(row, center, center);
          font: render-pixel(18) $fontSansReg;
        }
      }

    }
  }
}// /-integration



///
/// ACCORDION MEDIA QUERIES SECTION
///
@media screen and (min-width: 320px) and (max-width: 480px){
  .module ul.module-list > li{
    display: inline-block;
    float: none;
    width: $width-all;
  }
  .module ul.module-list>li>p{
    height: render-pixel(50);
  }

  .technical img{
    max-width: 100%;
  }

  .character ul.character-list li{
    float: none;
    width: $width-all;
  }
}

@media screen and (min-width: 0px) and (max-width: 720px){
  .integration ul.integration-list, .module ul.module-list{
    padding-left: render-pixel(40);
  }

  .technical .technical-list>li,
  .technologies .technologies-list>li{
    display: block;
  }

  .accordion .integration ul.integration-list>li{
    @include mixinDimensions(render-pixel(130));
  }

  section.electronicSystem .electronicSystem-container:after {
    display: none;
  }

  section.electronicSystem .electronicSystem-container .electronicSystem-row .accordion .accordion-section-title{
    font-size: render-pixel(14);
  }
}

@media screen and (max-width: 991px){
  section.electronicSystem .electronicSystem-container .electronicSystem-row{
    width: $width-all;
    margin: 0 auto;
    padding: render-pixel(50) render-pixel(25);
  }

  .electronicSystem-row-image img {
    opacity: .09;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
  section.electronicSystem .electronicSystem-container .electronicSystem-row{
    width: $width-all - 35;
    padding: render-pixel(50) render-pixel(25);
  }
  .electronicSystem-row-image img {
    opacity: .55;
  }
}