///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_function/function";
@import "../_extend/extend";


///
/// VARIABLE BLOCK
///
$width-all        : return-value(dimension, all);
$width-point      : return-value(dimension, point);

$color-white      : return-value(color, white);
$color-black      : return-value(color, black);
$color-elecBg     : return-value(color, elecBg);
$color-elecBorder : return-value(color, elecBorder);
$color-elecPlus   : return-value(color, elecPlus);

$fontSansReg      : 'PT Sans';

$imagePC          : '../image/electron-sys.png';
$imagePlus        : '../image/iconplus.png';
$imageMinus       : '../image/iconminus.png';

///
/// ELECTRONIC SYSTEM SECTION
///
section.electronicSystem{
  min-height: render-pixel(750);
  background-color: $color-elecBg;
  @include mixinBorder(bottom, 5px, $color-elecBorder);


  .electronicSystem-container{
    position: relative;
    @include  mixinMaxWidthPosition(12.5, 80, 0);

    h1{
      color: $color-black;
      @extend %paragraphH1;
    }// /-h1

    >p{
      text-align: center;
      font-size: render-pixel(20);
      margin: render-pixel(20) 0 render-pixel(20) 0;
      padding: 0 render-pixel(15);
    }// /-p

    &:after{
      content: '';
      position: absolute;
      top: $width-all - 88;
      right: 0;
      background: url($imagePC) no-repeat right;
      @include mixinDimensions($width-all);
    }


    .electronicSystem-row{
      position: relative;
      z-index: 100;
      width: $width-all - 50;
      height: $width-all;
      padding: render-pixel(50) 0;

      .accordion{
        overflow:hidden;

        .accordion-section-title.active{
          &:before{
            transition: .3s;
            background: $color-elecPlus url($imageMinus) no-repeat center;
          }// /-before
        }

        .accordion-section-title {
          display:inline-block;
          width: $width-all;
          margin: render-pixel(10) 0;
          border-radius: render-pixel(15);
          background: $color-white;
          transition:all linear 0.15s;
          font-size: render-pixel(20);
          color: $color-black;
          text-decoration: none;
          font-family: $fontSansReg;

          &:before{
            content: '';
            display: inline-block;
            width: render-pixel(40);
            height: render-pixel(40);
            background: $color-elecPlus url($imagePlus) no-repeat center;
            margin-right: render-pixel(20);
            vertical-align: middle;
            border-top-left-radius: render-pixel(15);
            border-bottom-left-radius: render-pixel(15);
            transition: .3s;
          }// /-before
        }// /-accordion-section-title

        .accordion-section-content {
          padding: render-pixel(15) render-pixel(15) render-pixel(15) render-pixel(5);
          //display:none;
        }
      }// /-accordion
    }// /-.electronicSystem-row
  }// /-electronicSystem-container
}// /-electronicSystem


$imageChecked : '../image/iconcheck.png';

///
/// technologies
///
.technologies{
  .technologies-list{
    padding-left: 0;
    margin: 0;

    >li{
      @include mixinCenteredBLockFlex(row, center, flex-start);
      list-style: none;
      font-size: render-pixel(16);
      padding: render-pixel(10) render-pixel(5);

      i{
        width: 34px;
        height: 34px;
        display: inline-block;
        background: url($imageChecked) no-repeat center;
        background-size: contain;
        margin-right: render-pixel(15);
        vertical-align: middle;
        //@include mixinDimensions(render-pixel($width-point - 66));
      }
    }
  }// /-technologies-list
}// /-technologies

$iconCharacter1 : '../image/main-1.png';
$iconCharacter2 : '../image/main-2.png';
$iconCharacter3 : '../image/main-3.png';
$iconCharacter4 : '../image/main-4.png';
$iconCharacter5 : '../image/main-5.png';
$iconCharacter6 : '../image/main-6.png';
$iconCharacter7 : '../image/main-7.png';

///
/// character
///
.character{
  >p{
    margin-top: 0;
    padding-left: 0;
  }

  ul.character-list{
    padding-left: 0;


    li{
      list-style: none;
      padding: render-pixel(10) render-pixel(5);
      float: left;
      width: $width-all - 50;
      @include mixinCenteredBLockFlex(row, flex-start, center);

      @each $className, $imageName in (main-0, $iconCharacter1),
              (main-1, $iconCharacter2),
              (main-2, $iconCharacter3),
              (main-3, $iconCharacter4),
              (main-4, $iconCharacter5),
              (main-5, $iconCharacter6),
              (main-6, $iconCharacter7),
      {
        >i.#{$className}{
          display: inline-block;
          @include mixinDimensions(render-pixel(70));
          background: url($imageName) no-repeat center;
          background-size: contain;
          vertical-align: middle;
          margin-right: render-pixel(10);
        }
      }

      >span{
        width: render-pixel(210);
      }
    }
  }
}