///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_function/function";


///
/// VARIABLE BLOCK
///
$width-all        : return-value(dimension, all);
$width-point      : return-value(dimension, point);

$color-white      : return-value(color, white);
$color-lgrayBorder: return-value(color, lgrayBorder);
$color-ebsBorder  : return-value(color, ebsBorder);


///
/// ATB/EBS SOLO BLOCK
///
section.atm-block{
  @include mixinBorder(bottom, 5px, $color-lgrayBorder);

  .atm-block-container{
    h1{
      font-size: render-pixel(35);
    }
  }
}
section.ebs-block{
  @include mixinBorder(bottom, 5px, $color-ebsBorder);

  .ebs-block-container{
    h1{
      font-size: render-pixel(57);
    }
  }
}

///
/// ATB/EBS MAIN BLOCK
///
section#atm-block.atm-block,
section#ebs-block.ebs-block{
  background-size: cover !important;
  background-attachment: fixed !important;
}

section.atm-block,
section.ebs-block{
  position: relative;
  width: $width-all;
  min-height: render-pixel(500);
  background-color: $color-lgrayBorder;


  .atm-block-container,
  .ebs-block-container{
    position: relative;
    min-height: render-pixel(500);
    @include mixinMaxWidthPosition(12.5, 80, 0);
    @include mixinCenteredBLockFlex(row, center, center);


    h1{
      color: $color-white;
      text-align: center;
      padding: 0 render-pixel(30);
      font-family: AgoraSansPro;
      line-height: 2;
      font-weight: 500;

      &:before,
      &:after{
        content: '';
        position: absolute;
        top: $width-all - 60.5;
        width: $width-point - 81;
        height: $width-point - 5;
      }
      &:before{
        left: render-pixel(15);
        background: url("../image/atm-left.png") no-repeat center;
        background-position: left;
      }
      &:after{
        right: render-pixel(15);
        background: url("../image/atm-right.png") no-repeat center;
        background-position: right;
      }
    }
  }// /-.atm-block-container
}// /-section.atm-block



///
/// ATM/EBS MEDIA QUERIES BLOCK
///
@media screen and (max-width: 767px){
  section#atm-block.atm-block,
  section#ebs-block.ebs-block{
    background-attachment: scroll !important;
  }

  section.ebs-block .ebs-block-container h1{
    font-size: render-pixel(35);
  }

  section.atm-block .atm-block-container h1{
    font-size: render-pixel(25);
  }

  section.atm-block .atm-block-container h1,
  section.ebs-block .ebs-block-container h1{
    padding: 0 render-pixel(15);

    &:before,
    &:after{
      display: none;
    }
  }
}