///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_function/function";


///
/// VARIABLE BLOCK
///
$width-all        : return-value(dimension, all);
$width-point      : return-value(dimension, point);

$color-white   : return-value(color, white);
$color-black   : return-value(color, black);
$color-darkblue   : return-value(color, darkblue);
$color-grayBorder : return-value(color, grayBorder);

$tunisia    : '../image/tunisia.png';
$morocco    : '../image/morocco.png';
$poland     : '../image/poland.png';
$ukraine    : '../image/ukraine.png';
$capeverde  : '../image/capeverde.png';
$kuwait     : '../image/kuwait.png';
$oman       : '../image/oman.png';


///
/// PHILOSOPHY SECTION
///
section#philosophy{
  background-size: cover !important;
  background-attachment: fixed !important;
}

section.philosophy{
  position: relative;
  width: $width-all;
  min-height: render-pixel(600);
  @include mixinBorder(bottom, 5px, $color-grayBorder);


  .philosophy-container{
    position: relative;
    z-index: 10;
    min-height: render-pixel(600);
    @include  mixinMaxWidthPosition(12.5, 0, 0);
    @include mixinCenteredBLockFlex(row, center, center);


    div[class^='philosophy-counrty-']{
      width: $width-all/7;


      >p{
        color: $color-white;
        font-size: render-pixel(24);
        text-align: center;
        text-transform: capitalize;
        margin-bottom: render-pixel(20);
      }

      >span{
        display: block;
        background-color: transparent;
        border-radius: 100%;
        margin: 0 auto;
        cursor: pointer;
        @include mixinDimensions($width-point - 24);
        @include mixinBorder(all, 3px, $color-white);


      }

      @each $className, $imageName in
                      (tunisia,   $tunisia),
                      (morocco,   $morocco),
                      (poland,    $poland),
                      (ukraine,   $ukraine),
                      (cape,      $capeverde),
                      (kuwait,    $kuwait),
                      (oman,      $oman) {
        .#{$className} {
          position: relative;
          background: url('#{$imageName}') no-repeat center;
          background-size: contain;
          transition: .7s;

          @if($className == tunisia or
              $className == morocco or
              $className == poland or
              $className == ukraine or
              $className == cape or
              $className == kuwait) {
            i.line{
              position: absolute;
              top: $width-all - 53;
              right: render-pixel(-103);
              width: render-pixel(100);
              height: render-pixel(4);
              background-color: $color-white;
            }
          }// /-if

          >span{
            opacity: 0;
            visibility: hidden;
            transition: .7s;
            position: absolute;
            z-index: 0;
            left: render-pixel(-103);
            margin-top: render-pixel(90);
            width: render-pixel(260px);
            background: rgba(255, 255, 255, 0.9);
            box-shadow: 0 0 5px rgba(0,0,0, .5);
            border-radius: 0.4em;
            padding: render-pixel(10);
            text-align: center;

            &:before{
              content: '';
              position: absolute;
              top: render-pixel(-8);
              left: $width-all / 2;
              border-width: 0 render-pixel(10) render-pixel(10) render-pixel(10);
              border-style: solid;
              border-color: rgba(255, 255, 255, 0.9) transparent;
            }
          }// /-span

          &:hover{
            transition: .7s;
            box-shadow: 0 0 0 12px rgba(255,255,255,0.5);

            >span{
              opacity: 1;
              visibility: visible;
              transition: .7s;
              z-index: 100;
            }
          }


        }// /-.#{$className}
      }// /-each

    }// /-div[class^='philosophy-counrty-']

  }// /-.philosophy-container
}// /-section.philosophy


///
/// ABOUT MEDIA QUERIES SECTION
///
@media screen and (min-width: 768px) and (max-width: 1290px){
  section.philosophy .philosophy-container div[class^=philosophy-counrty-] .tunisia>span{
    left: 0;

    &:before{
      left: $width-all - 89;
    }
  }

  section.philosophy .philosophy-container div[class^=philosophy-counrty-] .oman>span{
    left: -11.5em;

    &:before{
      left: $width-all - 18;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  section.philosophy .philosophy-container div[class^="philosophy-counrty-"] > p{
    font-size: render-pixel(20);
  }
}

@media screen and (max-width: 767px) {
  section.philosophy .philosophy-container{
    display: block;
    padding: render-pixel(25) 0;
  }

  section#philosophy.philosophy{
    background-attachment: scroll !important;
  }

  section.philosophy .philosophy-container div[class^="philosophy-counrty-"] > p{
    font-size: render-pixel(19);
  }

  section.philosophy .philosophy-container div[class^=philosophy-counrty-]{
    width: render-pixel($width-point + 210);
    margin: 0 auto;
    padding: render-pixel(20) 0;
    @include mixinCenteredBLockFlex(row, center, center);
  }

  section.philosophy .philosophy-container div[class^=philosophy-counrty-]>p{
    margin-bottom: 0;
    width: render-pixel($width-point + 10);
  }

  section.philosophy .philosophy-container div[class^=philosophy-counrty-] >span >span {
    left: -10em !important;

    &:before{
      left: $width-all - 28 !important;
    }
  }

  section.philosophy .philosophy-container div[class^=philosophy-counrty-] span i.line{
    display: none;
  }
}