- var atmSlogan = 'In the global air traffic management (ATM) system environment envisioned by the operational concept, aeronautical information service (AIS) would become one of the most valuable and important enabling services';
- var ebsSlogan = 'EBS -THE KEY TO SAVE YOUR MONEY';

doctype html
html

    // HEADER SECTION [link, meta.., title & etc]
    include head

    body

        // HEADER [navigation, video]
        //header.header
            // video section
            section.header-video
                include video

            // navigation section
            section.header-navigation
                include nav

        // ABOUT [why ADMS...]
        //block about
            include about

        // PHILOSOPHY [flags, map]
        //block philosophy
            include philosophy

        // PRODUCT [products philosophy]
        //block product
            include product

        // EBS block
        section.ebs-block
            .ebs-block-container
                h1= ebsSlogan

        // ATM block
        section.atm-block
            .atm-block-container
                h1= atmSlogan

        // OUTSOURCING SERVICES
        //block outsourcingServices
            include service

        // FOOTER
        //footer.footer
            .footer-container
                h1 Thank God the waiting is over!
                img(src='./image/footer-logotype.png')
        // FOOTER SECTION [script..]
        include foot