doctype html
html

    // HEADER SECTION [link, meta.., title & etc]
    include head

    body

        // HEADER [navigation, video]
        //header.header
            // video section
            section.header-video
                include video

            // navigation section
            section.header-navigation
                include nav

        // ABOUT [why ADMS...]
        //block about
            include about

        // PHILOSOPHY [flags, map]
        //block philosophy
            include philosophy

        // PRODUCT [products philosophy]
        //block product
            include product

        //footer.footer
            .footer-container
                h1 Thank God the waiting is over!
                img(src='./image/footer-logotype.png')
        // FOOTER SECTION [script..]
        include foot