- var menu      = ['Why', 'Philosophy', 'Products', 'EBS', 'AIS/AIM', 'Outsourcing', 'Contact', 'Login'];
- var hashTag   = ['#about', '#product', '#ourProduct', '#electronicSystem', '#system', '#out-service', 'javascript: void(0);', 'javascript: void(0);'];

nav.navbar
    .navbar-logo
        img(src='./image/logotype.png')

    // main menu for large resolution > 1200px
    .navbar-menu
        ul.navbar-menu-list
            - for (var val = 0; val < 8; val++)
                li: a(href=hashTag[val])= menu[val]

    // second menu after show btn menu < 1200px
    .navbar-hidemenu
        // btn
        .navbar-hidemenu-btn
            span.line

        // content block for item
        .navbar-hidemenu-block
            ul.menu-list
                - for (var val = 0; val < 8; val++)
                    li: a(href=hashTag[val])= menu[val]