///
/// IMPORT BLOCK
///
@import "_mixin/mixin";
@import "_function/function";


///
/// VARIABLE BLOCK
///
$width-all          : return-value(dimension, all);
$width-point        : return-value(dimension, point);

$color-black        : return-value(color, black);
$color-white        : return-value(color, white);
$color-lightBlue    : return-value(color, lightBlue);
$color-grayBorder   : return-value(color, grayBorder);

$font               : return-value(fontFamily, ptsans);


///
///
///
@font-face {
  font-family: AgoraSansPro;
  src:  url('../fonts/pfagorasanspro-mediumital.ttf');
}
$fontAgora : AgoraSansPro;

///
/// MAIN BLOCK
///
body,
html{
  @include mixinDimensions($width-all);

  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  line-height: 1.42857143;
  font-size: 15px;
  font-family: $font;
  font-weight: normal;
  background-color: $color-white;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

p,
h1{
  margin: 0;
}

///
/// HEADER BLOCK
///
header.header{
  position: relative;
  background-color: $color-black;

  @include mixinDimensions($width-all);
  @include mixinBorder(bottom, 5px, $color-grayBorder);
}

///
/// FOOTER BLOCK
///
footer.footer{
  min-height: $width-point;
  background-color: $color-lightBlue;

  .footer-container{
    height: $width-point;
    @include mixinMaxWidthPosition(12, 0, 15);
    @include mixinCenteredBLockFlex(row, center, space-between);
  }
  h1{
    color: $color-white;
    font-weight: 500;
    font-size: render-pixel(35);
    font-family: $fontAgora;
  }
}

@media screen and (max-width: 767px) {
  footer.footer .footer-container{
    height: $width-all;
    flex-direction: column;
  }

  footer.footer .footer-container > *{
    max-width: $width-all;
    padding: render-pixel(20);
    text-align: center;
  }
}


///
/// ANIMATION CLASS
///
.animated {
  animation-duration: .5s;
  animation-fill-mode: both;
}
.animated.infinite {
  animation-iteration-count: infinite;
}
