///
/// IMPORT BLOCK
///
@import "_mixin/mixin";
@import "_function/function";
@import "_template/import";


///
/// FONTS
///
@font-face {
  font-family: AgoraSansPro;
  src:  url('../fonts/pfagorasanspro-mediumital.ttf');
}


///
/// VARIABLE BLOCK
///
$width-all          : return-value(dimension, all);
$width-point        : return-value(dimension, point);

$color-black        : return-value(color, black);
$color-white        : return-value(color, white);
$color-lightBlue    : return-value(color, lightBlue);
$color-lightGray    : return-value(color, lightGray);
$color-grayBorder   : return-value(color, grayBorder);

$font               : return-value(fontFamily, ptsans);
$fontAgora          : AgoraSansPro;


///
/// MAIN BLOCK
///
body,
html{
  @include mixinDimensions($width-all);
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  line-height: 1.42857143;
  font-size: 15px;
  font-family: $font;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $color-white;
}


* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

p,
h1{
  margin: 0;
}

ul{
  li{
    list-style: none;
  }
}


///
/// HEADER BLOCK
///
header.header{
  position: relative;
  background-color: $color-black;

  @include mixinDimensions($width-all);
  @include mixinBorder(bottom, 5px, $color-grayBorder);

  section.header-btn-video{
    position: absolute;
    bottom: render-pixel(60);
    width: $width-all;
    text-align: center;

    >a{
      display: inline-block;
      @include mixinDimensions(render-pixel(165), render-pixel(45));
      background-color: $color-lightGray;
      text-decoration: none;
      border-radius: .4em;
      color: $color-lightBlue;
      font-size: render-pixel(18);
      font-weight: bold;
      line-height: 2.7;

      &:after{
        content: '';
        display: inline-block;
        @include mixinDimensions(render-pixel(16), render-pixel(10));
        background: url("../image/arrow.png") no-repeat center;
        vertical-align: middle;
        margin-left: render-pixel(10);
      }
    }
  }// /-section.header-btn-video
}// /-header.header


///
/// FOOTER BLOCK
///
footer.footer{
  min-height: $width-point;
  background-color: $color-lightBlue;

  .footer-container{
    height: $width-point;
    @include mixinMaxWidthPosition(12, 0, 15);
    @include mixinCenteredBLockFlex(row, center, space-between);
  }
  h1{
    color: $color-white;
    font-weight: 500;
    font-size: render-pixel(35);
    font-family: $fontAgora;
  }
}


///
/// FOOTER MEDIA QUERIES BLOCK
///
@media screen and (max-width: 767px) {
  footer.footer .footer-container{
    height: $width-all;
    flex-direction: column;
  }

  footer.footer .footer-container > *{
    max-width: $width-all;
    padding: render-pixel(20);
    text-align: center;
  }
}


///
/// ANIMATION CLASS
///
.hidden{
  opacity: 0;
}
.visibly{
  opacity: 1;
}
