///
/// IMPORT BLOCK
///
@import "_mixin/mixin";
@import "_function/function";


///
/// VARIABLE BLOCK
///
$width-all    : return-value(dimension, all);
$color-black  : return-value(color, black);


///
/// MAIN BLOCK
///
body,
html{
  @include mixinDimensions($width-all);

  margin: 0;
  padding: 0;
  overflow: hidden;
}


///
/// HEADER BLOCK
///
header.header{
  position: relative;
  background-color: $color-black;

  @include mixinDimensions($width-all);
}


///
/// ANIMATION CLASS
///
.animated {
  animation-duration: .5s;
  animation-fill-mode: both;
}
.animated.infinite {
  animation-iteration-count: infinite;
}
